*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    background-color: #F8F9FB;
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

}
header > h3 {
    padding-left: 27px;
    padding-top: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header > button {
    margin-right: 27px;
    border: none;
    border-radius: 3px;
    background: #0074f8;
    color: #fff;
    cursor: pointer;
    transition: 0.8s;
    border: 1px solid transparent;
}
header > button > a {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 11px;
    text-decoration: none;
    color: #fff;
    transition: 0.8s;
}
header > button:hover{
    border: 1px solid #0074f8;
    background: white;
    color: #0074f8;
}
header > button > a:hover{
    color: #0074f8;
}
.section1{
    width: 100%;
    height: 600px;
    background: url(images/background-section1.png) no-repeat top right/cover;
}
.section1 > h1{
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;

}
#email{
    margin-top: 50px;
    margin-left: 310px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 230px;
    border-radius: 3px;
    border : transparent;
    font-size: 19px;

}
.section1 > button{
    background-color: #017BFF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10px;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-right: 42px;
    padding-left: 42px;
    border-radius: 3px;
    border : 1px solid transparent;
    cursor: pointer;
    transition: 0.8s;
}
.section1 > button:hover{
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
}
.section2{
    width: 100%;
    height: 460px;
    background-color: #F8F9FB;
    display: flex;

}
#Desktop > img{
    margin-top : 138px;
    width:  72px;
    height: 64px;
    margin-left: 215px;
}
#Desktop > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 18px;
}
#Desktop > p{
    margin-left: 120px;
    margin-top: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    line-height: 29px;
}
#Layer > img{
    margin-top : 122px;
    width:  80px;
    height: 80px;
    margin-left: 210px;
}
#Layer > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 140px;
    margin-top: 10px;
}
#Layer > p{
    margin-left: 115px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    line-height: 29px;
}
#Check > img{
    margin-top : 130px;
    width:  77px;
    height: 78px;
    margin-left: 190px;
}
#Check > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 155px;
    margin-top: 5px;
}
#Check > p{
    margin-left: 85px;
    margin-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    line-height: 29px;
}